.header__lang-links {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 1.125rem;
  align-items: end;
  list-style: none;
  margin: 0;
  padding: 0 0 5px;
}

@media screen and (max-width: 480px) {
  .header__lang-links {
    margin-top: 14px;
  }
}